.footer {
  &__timer {
    & > *:not(:first-child) {
      margin-left: .75rem;
    }
  }

  &__control {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 4px;
  }

  &__counter {
    font-size: 1.2rem;
  }

  &__task {
    font-size: 1rem;
  }
}
