.task-list {
  &__header {
    font-weight: 700;
  }

  &__body {
    height: 20rem;
    padding: 5px 10px;
    overflow-y: auto;
  }

  &__item {
    transition: transform .2s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background-color: #f5f5f5;
    }
  }

  &__duration {
    font-size: 12px;
  }
}
