.task-list {
  &__header {
    font-weight: 700;
  }

  &__body {
    height: 20rem;
    margin: 5px;
    overflow-y: auto;
  }

  &__item {
    &:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
  }

  &__duration {
    font-size: 12px;
  }
}
